@page
@model MyCourse.Views.Courses.IndexModel
<!Doctype html>
<html>
<head>
    <title>Courses - Idex</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Corso 1</a></li>
                <li><a href="">Corso 2</a></li>
                <li><a href="">Corso 3</a></li>
                <li><a href="">Corso 4</a></li>
                <li><a href="">Corso 5</a></li>
            </ul>
        </nav>
    </header>
    <h1>I'm the Home's Index</h1>
    <footer>
        <p>Contact us at this number...</p>
    </footer>
</body>
</html>

